body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0rem;
}



html,
body {
    height: 100%;
}

a,
.link {
    color: #255783;
}

.centered {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 1.3rem;
}

h2 {
    font-weight: bold;
    font-size: 1.1rem;
}

.bordered {
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
}

.bg-white {
    background-color: white;
}

.btn {
    width: 160px;
    margin: 10px;
}

.unselectable-font {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-not-allowed {
    cursor: not-allowed
}

mat-icon {
    cursor: pointer;
}

.block {
    display: block;
}

.mat-mdc-select-arrow {
    width: 20px !important;
}

.nicht-berechtigt {
    color: red;
}

.right-button {
    position: fixed;
    bottom: 45px;
    right: 0
}

.btn-thin {
    margin: 10px 10px 10px 0;
    width: 160px;
}

.mat-sort-header-container {
    display: flex !important;
    cursor: pointer !important;
    align-items: baseline !important;
    letter-spacing: normal !important;
    outline: 0 !important;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.m-1 {
    margin: 1rem;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}