# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# angular
backend/mja-api/src/main/resources/META-INF/resources/mja-admin/*.js
backend/mja-api/src/main/resources/META-INF/resources/mja-admin/*.txt
backend/mja-api/src/main/resources/META-INF/resources/mja-admin/*.css
backend/mja-api/src/main/resources/META-INF/resources/mja-admin/index.html
backend/mja-api/src/main/resources/META-INF/resources/mja-admin/favicon.ico
backend/mja-api/src/main/resources/META-INF/resources/mja-admin/assets/*.png
