// wenn man das einkommentiert, scrollt das Zeug nicht mehr :(
// .main {
//     overflow-y: hidden;
//     overflow-x: hidden;
// }

.toolbar-spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    margin: 8px;
    width: 200px;
    border-right: none;
    // background: #255783;
    // background-color: #467096;
    // color: white;
    // border-radius: 4px;
    padding: 8px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    // border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    // align-items: center;

    font-size: 1rem;
    // color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

mat-icon {
    margin-right: 8px;
}

mat-toolbar ~ mat-icon {
    color: white;
}


mat-nav-list > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    // color: #255783;    
}

mat-nav-list > a:hover {
    background-color: #255783;
    color: white;

    mat-icon {
        margin-right: 8px;
        color: white;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.top-nav {
    height: 64px;
    position: fixed;
    top: 0px;
}

.fixed-toolbar {
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
}

.inner-content {
    position: absolute;
    bottom: 0;
    left: 0;
}

