<mat-toolbar>

    <div *ngIf="isHandset === true">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <a *ngIf="isHandset === false" mat-button routerLink="/">
        <mat-icon class="nav-item">home</mat-icon>
        <span class="nav-caption">Startseite</span>
    </a>

    <div *ngIf="authFacade.userIsLoggedIn$ | async">
        <a *ngIf="isHandset === false" mat-button routerLink="/raetsel">
            <mat-icon class="nav-item">library_books</mat-icon>
            <span class="nav-caption">Rätsel</span>
        </a>
    </div>

    <div *ngIf="authFacade.userIsAdmin$ | async">
        <a *ngIf="isHandset === false" mat-button routerLink="/raetselgruppen">
            <mat-icon class="nav-item">menu_book</mat-icon>
            <span class="nav-caption">Rätselgruppen</span>
        </a>
    </div>

    <span class="toolbar-spacer"></span>

    <ng-container *ngIf="authFacade.user$| async as user">
        <div *ngIf="isHandset === false" class="mr-1">
            Moin, {{user.fullName}} <span *ngIf="user.isAdmin">(ADMIN)</span>
        </div>
    </ng-container>

    <a *ngIf="authFacade.userIsLoggedOut$ | async" mat-button (click)="login()">
        <mat-icon class="nav-item">login</mat-icon>
        <span class="nav-caption">einloggen</span>
    </a>

    <a *ngIf="authFacade.userIsLoggedOut$ | async" mat-button (click)="signup()">
        <mat-icon aria-hidden="false" aria-label="registrieren" fontIcon="perm_identity"></mat-icon>
        <span class="nav-caption">registrieren</span>
    </a>

    <a *ngIf="authFacade.userIsLoggedIn$ | async" mat-button (click)="logout()">
        <mat-icon class="nav-item">logout</mat-icon>
        <span class="nav-caption">ausloggen</span>
    </a>

</mat-toolbar>