<div *ngIf="authFacade.isLoggedOut$ | async" class="home">
    <h1>
        {{titel}}
    </h1>
</div>
<a *ngIf="authFacade.isLoggedIn$ | async" class="dashboard" routerLink="/" title="Startseite">
    <h1>
        {{titel}}
    </h1>
</a>
<div class="security">
    <ng-container *ngIf="authFacade.isLoggedOut$ | async">
        <a (click)="login()" data-testid="btn-log-in" mat-raised-button>einloggen</a>
    </ng-container>
    <ng-container *ngIf="authFacade.isLoggedIn$ | async">
        <ng-container *ngIf="authFacade.getUser$ | async as user">
            <ng-container *ngIf="user !== undefined">
                Moin, {{user.fullName}} <span *ngIf="authFacade.isAdmin$ | async">(ADMIN)</span>
            </ng-container>
        </ng-container>
        <a (click)="logout()" data-testid="btn-log-out" mat-raised-button>ausloggen</a>
    </ng-container>
</div>
