<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav && sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="sidenav && !sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav && sidenav.opened">
            close
        </mat-icon>
    </button>
    <mja-admin-header></mja-admin-header>
</mat-toolbar>

<mja-message></mja-message>

<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8">
        <mja-admin-nav></mja-admin-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">            
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>