<div class="centered">
    <h1>Mathe für jung und alt</h1>
    <h2>Administration ({{version}})</h2>
</div>

<div class="centered">
    <img src="https://mathe-jung-alt.de/img/mja_logo_2.svg" alt="" aria-role="logo" />

    <p *ngIf="authFacade.user$ | async as user">Hallo {{user.fullName}}</p>

    <div *ngIf="authFacade.userIsLoggedIn$ | async">
        <p *ngIf="(coreFacade.existsQuelleAdmin$ | async)">na dann mal los :)
        </p>
        <p *ngIf="coreFacade.notExistsQuelleAdmin$ | async">Es gibt noch keine Quelle für Dich als Autor:in. Lass bitte eine anlegen, damit Du Rätsel erstellen darfst.
        </p>
    </div>
    <p *ngIf="authFacade.userIsLoggedOut$ | async">bitte einloggen</p>



    <!-- hier noch einen login-Button falls handset - dann muss man nicht das hamburger menu aufklappen zum Einloggen -->
</div>