<div class="centered">
    <h1>Mathe für jung und alt</h1>
    <h2>Administration ({{version}})</h2>
</div>

<div class="centered">
    <img src="https://mathe-jung-alt.de/img/mja_logo_2.svg" alt="" aria-role="logo" />

    <p *ngIf="authFacade.user$ | async as user">Hallo {{user.fullName}}</p>

    <p *ngIf="authFacade.userIsLoggedIn$ | async">na dann mal los</p>
    <p *ngIf="authFacade.userIsLoggedOut$ | async">bitte einloggen</p>

    <!-- hier noch einen login-Button falls handset - dann muss man nicht das hamburger menu aufklappen zum Einloggen -->
</div>
