<mat-toolbar color="primary">

    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <a *ngIf="isHandset === false" mat-button routerLink="/">
        <mat-icon class="nav-item">home</mat-icon>
        <span class="nav-caption">Startseite</span>
    </a>

    <div *ngIf="isHandset === false">
        <a *ngIf="authFacade.isAdmin$ | async" mat-button routerLink="/quellen/uebersicht">
            <mat-icon class="nav-item">newspaper</mat-icon>
            <span class="nav-caption">Quellen</span>
        </a>
    </div>

    <div *ngIf="isHandset === false">
        <a *ngIf="authFacade.isAdmin$ | async" mat-button routerLink="/raetsel/uebersicht">
            <mat-icon class="nav-item">library_books</mat-icon>
            <span class="nav-caption">Rätsel</span>
        </a>
    </div>

    <div *ngIf="isHandset === false">
        <a *ngIf="authFacade.isAdmin$ | async" mat-button routerLink="/raetselgruppen/uebersicht">
            <mat-icon class="nav-item">menu_book</mat-icon>
            <span class="nav-caption">Rätselgruppen</span>
        </a>
    </div>

    <span class="toolbar-spacer"></span>

    <ng-container *ngIf="authFacade.getUser$ | async as user">
        <div *ngIf="isHandset === false && user !== undefined" class="mr-1">
            Moin, {{user.fullName}} <span *ngIf="authFacade.isAdmin$ | async">(ADMIN)</span>
        </div>
    </ng-container>

    <a *ngIf="authFacade.isLoggedOut$ | async" mat-button (click)="login()">
        <mat-icon class="nav-item">login</mat-icon>
        <span class="nav-caption">einloggen</span>
    </a>

    <a *ngIf="authFacade.isLoggedIn$ | async" mat-button (click)="logout()">
        <mat-icon class="nav-item">logout</mat-icon>
        <span class="nav-caption">ausloggen</span>
    </a>

</mat-toolbar>