<mja-admin-layout>
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <mja-admin-sidenav (sidenavClose)="sidenav.close()"></mja-admin-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <mja-admin-header (sidenavToggle)="sidenav.toggle()"></mja-admin-header>                    
            <main>                               
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</mja-admin-layout>
