<mat-toolbar color="primary">

    <div *ngIf="isHandset === true">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <a *ngIf="isHandset === false" mat-button routerLink="/">
        <mat-icon class="nav-item">home</mat-icon>
        <span class="nav-caption">Startseite</span>
    </a>

    <a *ngIf="isHandset === false" mat-button routerLink="/raetsel">
        <mat-icon class="nav-item">library_books</mat-icon>
        <span class="nav-caption">Rätsel</span>
    </a>

    <span class="toolbar-spacer"></span>

    <ng-container *ngIf="authFacade.user$| async as user">
        <div *ngIf="isHandset === false" class="mr-1">
            Moin, {{user.fullName}} <span *ngIf="user.isAdmin">(ADMIN)</span>
        </div>
    </ng-container>

    <a *ngIf="authFacade.userIsLoggedOut$ | async" mat-button (click)="login()">
        <mat-icon class="nav-item">login</mat-icon>
        <span class="nav-caption">einloggen</span>
    </a>

    <a *ngIf="authFacade.userIsLoggedIn$ | async" mat-button (click)="logout()">
        <mat-icon class="nav-item">logout</mat-icon>
        <span class="nav-caption">ausloggen</span>
    </a>
    
</mat-toolbar>