<div class="centered">
    <h1>Mathe für jung und alt ({{version}})</h1>
    <h2 *ngIf="coreFacade.anzahlPublicRaetselLoaded$ | async">
        <p>Aktuell enthält die Datenbank {{coreFacade.anzahlPublicRaetsel$ | async}} veröffentlichte Aufgaben, Rätsel
            und Knobeleien
        </p>
    </h2>
</div>

<div class="centered">
    <img src={{imageSourceLogo}} alt="" aria-role="mathe-jung-alt-Logo" />

    <p *ngIf="authFacade.user$ | async as user">Hallo {{user.fullName}}</p>
</div>

<div *ngIf="authFacade.userIsAdmin$ | async">
    <p>na dann mal los :)
    </p>
</div>

<div *ngIf="authFacade.userIsPublic$ | async">
    <p>
        Die Funktion zum Erstellen von Arbeitsblättern und Knobelkarteien ist leider noch nicht fertig. Natürlich
        können Sie sich die Inhalte schon einmal ansehen.
    </p>
    <p>
        Wenn Sie selbst Anderen Inhalte zur Verfügung stellen möchten, nehmen Sie bitte Kontakt mit mir auf. Dann
        können Sie Autor:in werden.
    </p>
</div>

<div *ngIf="authFacade.userIsLoggedOut$ | async">
    <p>
        Zukünftig können Sie hier die freigegebenen Rätsel und Knobeleien nutzen, um Arbeitsblätter oder
        Knobelkarteien
        zu generieren. Momentan sind es hauptsächlich
        Aufgaben aus dem <a href="https://mathe-jung-alt.de/minikaenguru" target="_blank">Minikänguru-Wettbewerb</a>
        und der
        <a href="https://mathe-jung-alt.de/mathe" target="_blank">virtuellen Mathe-AG</a>,
        die nach und nach hier zur Verfügung gestellt werden. Geplant ist, das Angebot auch auf andere Gebiete
        auszudehnen.
    </p>

    <p>Um das Angebot zu nutzen, bitte mit einem vorhandenen Minikänguru-Benutzerkonto <button mat-raised-button
            (click)="login()">einloggen</button>
        oder von hier aus ein Benutzerkonto anlegen: <button mat-raised-button (click)="signup()">registrieren</button>.
    </p>
    <p><strong>Wenn Sie von hier aus ein Benutzerkonto anlegen, können Sie die Minikänguru-Anwendung allerdings nicht nutzen.</strong></p>
    <p>Wenn Sie beide Angebote nutzen wollen (die Minikänguru-Anwendung und die Mathe-jung-alt-App) registrieren, Sie sich bitte über diesen Link:
        <a href="https://mathe-jung-alt.de/mkv-app#/registrierung" target="_blank">Registrierung Minikänguru</a>.
    </p>
</div>