ENV=dev
STAGE=dev

PUBLIC-CLIENT-ID=N7SsGenun4znNUdQzyLD0wzOfRHOmc9XN35TOGfbBcvA
PUBLIC-CLIENT-SECRET=start123

QUARKUS_REST-CLIENT__DE_EGLADIL_MJA_API_INFRASTRUCTURE_RESTCLIENT_LATEXRESTCLIENT__URL=http://localhost:9200
QUARKUS_REST-CLIENT__DE_EGLADIL_MJA_API_INFRASTRUCTURE_RESTCLIENT_FILESCANNERRESTCLIENT__URL=http://localhost:9800
QUARKUS_REST-CLIENT__DE_EGLADIL_MJA_API_INFRASTRUCTURE_RESTCLIENT_INITACCESSTOKENRESTCLIENT__URL=http://heikedeb:9000/authprovider
QUARKUS_REST-CLIENT__DE_EGLADIL_MJA_API_INFRASTRUCTURE_RESTCLIENT_TOKENEXCHANGERESTCLIENT__URL=http://heikedeb:9000/authprovider

TARGET_ORIGIN = heikedeb,heikedeb:4200,heikedeb:4300,localhost:4200,localhost:4300,heikedeb:9600,https://mathe-jung-alt.de

QUARKUS_HTTP_CORS_ORIGINS = http://localhost:9210,http://localhost:4200,http://heikedeb:9000,https://fonts.googleapis.com
QUARKUS_LOG_FILE_PATH = /home/heike/quarkus/log/mja-api/server.log
QUARKUS_HTTP_ACCESS_LOG_LOG_DIRECTORy = /home/heike/quarkus/log/mja-api
QUARKUS_SWAGGER_UI_ALWAYS_INCLUDE=true
QUARKUS_SWAGGER_UI_PATH=/swagger-ui

LATEX_GENERATOR_PRESERVE_TEMPFILES=true
LATEX_BASE_DIR=/home/heike/docker-volumes/latex/doc

QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.21.0.2:3306/mathe_jung_alt
QUARKUS_DATASOURCE_PASSWORD=hwinkel

AUTHPROVIDER_URL=http://heikedeb:9000/authprovider
AUTH_APP_URL=http://heikedeb:80/auth-app
#PUBLIC_REDIRECT_URL=http://localhost:9210/mja-app/

#=================================================================#
#        App in Dev-Mode START                                    #
#=================================================================#

PUBLIC_REDIRECT_URL=http://localhost:4200

#=================================================================#
#        App in Dev-Mode ENDE                                     #
#=================================================================#

#=============================================================================================#
#        Logging                                                                              #
#=============================================================================================#


#=============================================================================================#
#        Logging                                                                              #
#=============================================================================================#
QUARKUS_LOG_CATEGORY__DE_EGLADIL_MJA_API_INFRASTRUCTURE_FILTERS_SPAREDIRECTFILTER__LEVEL=INFO
#QUARKUS_LOG_CATEGORY__DE_EGLADIL_MJA_API_DOMAIN_AUTH_SESSION_SESSIONUTILS__LEVEL=INFO
QUARKUS_LOG_CATEGORY__ORG_JBOSS_RESTEASY_REACTIVE_CLIENT_LOGGING_DEFAULTCLIENTLOGGER__LEVEL=DEBUG

MOCK_SESSION=false




#=============================================================================================#
#        tests                                                                                #
#=============================================================================================#
_TEST_QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.28.0.2:3306/mathe_jung_alt
_TEST_QUARKUS_HTTP_PORT=9212
_TEST_CSRF_ENABLED=false
_TEST_QUARKUS_LOG_FILE_ENABLE=false
_TEST_QUARKUS_HTTP_ACCESS-LOG_LOG-TO-FILE=false
_TEST_AUTHORIZATION_ENABLED=false

_FULL-DB-TEST_MOCK_SESSION=true
_FULL-DB-TEST_QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.28.0.2:3306/mathe_jung_alt
_FULL-DB-TEST_QUARKUS_HTTP_PORT=9212
_FULL-DB-TEST_CSRF_ENABLED=false
_FULL-DB-TEST_QUARKUS_LOG_FILE_ENABLE=false
_FULL-DB-TEST_QUARKUS_HTTP_ACCESS-LOG_LOG-TO-FILE=false
_FULL-DB-TEST_AUTHORIZATION_ENABLED=false
