ENV=dev
STAGE=dev

PUBLIC-CLIENT-ID=N7SsGenun4znNUdQzyLD0wzOfRHOmc9XN35TOGfbBcvA
PUBLIC-CLIENT-SECRET=start123

QUARKUS_REST-CLIENT__DE_EGLADIL_MJA_API_INFRASTRUCTURE_RESTCLIENT_LATEXRESTCLIENT__URL=http://localhost:9200
QUARKUS_REST-CLIENT__DE_EGLADIL_MJA_API_INFRASTRUCTURE_RESTCLIENT_FILESCANNERRESTCLIENT__URL=http://localhost:9800
QUARKUS_REST-CLIENT__DE_EGLADIL_MJA_API_INFRASTRUCTURE_RESTCLIENT_INITACCESSTOKENRESTCLIENT__URL=http://heikedeb:9000/authprovider
QUARKUS_REST-CLIENT__DE_EGLADIL_MJA_API_INFRASTRUCTURE_RESTCLIENT_TOKENEXCHANGERESTCLIENT__URL=http://heikedeb:9000/authprovider

TARGET_ORIGIN = heikedeb,heikedeb:4200,heikedeb:4300,localhost:4200,localhost:4300,heikedeb:9600,https://mathe-jung-alt.de

QUARKUS_HTTP_CORS_ORIGINS = http://localhost:9210,http://localhost:4200,http://heikedeb:9000,https://fonts.googleapis.com
QUARKUS_LOG_FILE_PATH = /home/heike/quarkus/log/mja-api/server.log
QUARKUS_HTTP_ACCESS_LOG_LOG_DIRECTORy = /home/heike/quarkus/log/mja-api
QUARKUS_SWAGGER_UI_ALWAYS_INCLUDE=true
QUARKUS_SWAGGER_UI_PATH=/swagger-ui

LATEX_GENERATOR_PRESERVE_TEMPFILES=true
LATEX_BASE_DIR=/home/heike/docker-volumes/latex/doc

QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.21.0.2:3306/mathe_jung_alt
QUARKUS_DATASOURCE_PASSWORD=hwinkel
QUARKUS_HIBERNATE_ORM_LOG_SQL=true

# man muss auch das MIN-Level auf TRACE setzen, wenn man das SQL von namedQueries sehen will
QUARKUS_LOG_MIN_LEVEL=TRACE
QUARKUS_HIBERNATE_ORM_LOG_BIND_PARAMETERS=true
QUARKUS_HIBERNATE_ORM_LOG_SQL=true


AUTHPROVIDER_URL=http://heikedeb:9000/authprovider
AUTH_APP_URL=http://heikedeb:80/auth-app

#=================================================================#
#        Redirect URL                                             #
#=================================================================#

PUBLIC_REDIRECT_URL=http://localhost:4200
#PUBLIC_REDIRECT_URL=http://localhost:9210/mja-app/

#=============================================================================================#
#        Logging                                                                              #
#=============================================================================================#
QUARKUS_LOG_CATEGORY__DE_EGLADIL_MJA_API_INFRASTRUCTURE_FILTERS_SPAROUTEFILTER__LEVEL=DEBUG
QUARKUS_LOG_CATEGORY__DE_EGLADIL_MJA_API_DOMAIN_AUTH_SESSION_SESSIONUTILS__LEVEL=WARN
QUARKUS_LOG_CATEGORY__ORG_JBOSS_RESTEASY_REACTIVE_CLIENT_LOGGING_DEFAULTCLIENTLOGGER__LEVEL=WARN
QUARKUS_LOG_CATEGORY__DE_EGLADIL_MJA_API_DOMAIN_GENERATOREN_IMPL_IMAGEGENERATORSERVICEIMPL__LEVEL=WARN
QUARKUS_LOG_CATEGORY__DE_EGLADIL_MJA_API_DOMAIN_UTILS_MJAFILEUTILS__LEVEL=WARN
QUARKUS_LOG_CATEGORY__DE_EGLADIL_MJA_API_INFRASTRUCTURE_CDI_AUTHENTICATIONCONTEXTIMPL__LEVEL=WARN




#=============================================================================================#
#        _TEST_                                                                               #
#=============================================================================================#

QUARKUS_HTTP_TEST_TIMEOUT=1m

_TEST_QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.28.0.2:3306/mathe_jung_alt
_TEST_QUARKUS_HTTP_PORT=9212
_TEST_CSRF_ENABLED=false
_TEST_QUARKUS_LOG_FILE_ENABLE=false
_TEST_QUARKUS_HTTP_ACCESS-LOG_LOG-TO-FILE=false
_TEST_AUTHORIZATION_ENABLED=false

#=============================================================================================#
#        _FULL-DB-ADMIN-TEST_           (heike)                                               #
#=============================================================================================#
_FULL-DB-ADMIN-TEST_MOCK_SESSION=true
_FULL-DB-ADMIN-TEST_MOCK_BENUTZERART=ADMIN
_FULL-DB-ADMIN-TEST_MOCK_BENUTZERID=b865fc75-1bcf-40c7-96c3-33744826e49f
_FULL-DB-ADMIN-TEST_MOCK_BENUTZER_FULLNAME=Heike Winkelvoß

_FULL-DB-ADMIN-TEST_QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.28.0.2:3306/mathe_jung_alt
_FULL-DB-ADMIN-TEST_QUARKUS_HTTP_PORT=9212
_FULL-DB-ADMIN-TEST_CSRF_ENABLED=false
_FULL-DB-ADMIN-TEST_QUARKUS_LOG_FILE_ENABLE=false
_FULL-DB-ADMIN-TEST_QUARKUS_HTTP_ACCESS-LOG_LOG-TO-FILE=false
_FULL-DB-ADMIN-TEST_AUTHORIZATION_ENABLED=false

# man muss auch das MIN-Level auf TRACE setzen, wenn man das SQL von namedQueries sehen will
_FULL-DB-ADMIN-TEST_QUARKUS_LOG_MIN_LEVEL=TRACE
_FULL-DB-ADMIN-TEST_QUARKUS_HIBERNATE_ORM_LOG_BIND_PARAMETERS=true
_FULL-DB-ADMIN-TEST_QUARKUS_HIBERNATE_ORM_LOG_SQL=true


#=============================================================================================#
#        _FULL-DB-AUTOR-TEST_            (frodo)                                              #
#=============================================================================================#
_FULL-DB-AUTOR-TEST_MOCK_SESSION=true
_FULL-DB-AUTOR-TEST_MOCK_BENUTZERART=AUTOR
_FULL-DB-AUTOR-TEST_MOCK_BENUTZERID=412b67dc-132f-465a-a3c3-468269e866cb
_FULL-DB-AUTOR-TEST_MOCK_BENUTZER_FULLNAME=Frodo Beutlin aus Beutelsend

_FULL-DB-AUTOR-TEST_QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.28.0.2:3306/mathe_jung_alt
_FULL-DB-AUTOR-TEST_QUARKUS_HTTP_PORT=9212
_FULL-DB-AUTOR-TEST_CSRF_ENABLED=false
_FULL-DB-AUTOR-TEST_QUARKUS_LOG_FILE_ENABLE=false
_FULL-DB-AUTOR-TEST_QUARKUS_HTTP_ACCESS-LOG_LOG-TO-FILE=false
_FULL-DB-AUTOR-TEST_AUTHORIZATION_ENABLED=false

# man muss auch das MIN-Level auf TRACE setzen, wenn man das SQL von namedQueries sehen will
_FULL-DB-AUTOR-TEST_QUARKUS_LOG_MIN_LEVEL=TRACE
_FULL-DB-AUTOR-TEST_QUARKUS_HIBERNATE_ORM_LOG_BIND_PARAMETERS=true
_FULL-DB-AUTOR-TEST_QUARKUS_HIBERNATE_ORM_LOG_SQL=true

#=============================================================================================#
#        _FULL-DB-QUELLE-TEST_            (bilbo)                                              #
#=============================================================================================#
_FULL-DB-QUELLE-TEST_MOCK_SESSION=true
_FULL-DB-QUELLE-TEST_MOCK_BENUTZERART=AUTOR
_FULL-DB-QUELLE-TEST_MOCK_BENUTZERID=5d89c2e1-5d35-4e1b-b5a5-c56defd8ba43
_FULL-DB-QUELLE-TEST_MOCK_BENUTZER_FULLNAME=Bilbo Beutlin

_FULL-DB-QUELLE-TEST_QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.28.0.2:3306/mathe_jung_alt
_FULL-DB-QUELLE-TEST_QUARKUS_HTTP_PORT=9212
_FULL-DB-QUELLE-TEST_CSRF_ENABLED=false
_FULL-DB-QUELLE-TEST_QUARKUS_LOG_FILE_ENABLE=false
_FULL-DB-QUELLE-TEST_QUARKUS_HTTP_ACCESS-LOG_LOG-TO-FILE=false
_FULL-DB-QUELLE-TEST_AUTHORIZATION_ENABLED=false

# man muss auch das MIN-Level auf TRACE setzen, wenn man das SQL von namedQueries sehen will
_FULL-DB-QUELLE-TEST_QUARKUS_LOG_MIN_LEVEL=TRACE
_FULL-DB-QUELLE-TEST_QUARKUS_HIBERNATE_ORM_LOG_BIND_PARAMETERS=true
_FULL-DB-QUELLE-TEST_QUARKUS_HIBERNATE_ORM_LOG_SQL=true



#=============================================================================================#
#        _FULL-DB-STANDARD-TEST_       (af@egladil.de)                                        #
#=============================================================================================#
_FULL-DB-STANDARD-TEST_MOCK_SESSION=true
_FULL-DB-STANDARD-TEST_MOCK_BENUTZERART=STANDARD
_FULL-DB-STANDARD-TEST_MOCK_BENUTZERID=9a4989b3-f70d-415c-a914-7f1111fad1cb
_FULL-DB-STANDARD-TEST_MOCK_BENUTZER_FULLNAME=Amy F. Fowler

_FULL-DB-STANDARD-TEST_QUARKUS_DATASOURCE_JDBC_URL=jdbc:mariadb://172.28.0.2:3306/mathe_jung_alt
_FULL-DB-STANDARD-TEST_QUARKUS_HTTP_PORT=9212
_FULL-DB-STANDARD-TEST_CSRF_ENABLED=false
_FULL-DB-STANDARD-TEST_QUARKUS_LOG_FILE_ENABLE=false
_FULL-DB-STANDARD-TEST_QUARKUS_HTTP_ACCESS-LOG_LOG-TO-FILE=false
_FULL-DB-STANDARD-TEST_AUTHORIZATION_ENABLED=false

# man muss auch das MIN-Level auf TRACE setzen, wenn man das SQL von namedQueries sehen will
_FULL-DB-STANDARD-TEST_QUARKUS_LOG_MIN_LEVEL=TRACE
_FULL-DB-STANDARD-TEST_QUARKUS_HIBERNATE_ORM_LOG_BIND_PARAMETERS=true
_FULL-DB-STANDARD-TEST_QUARKUS_HIBERNATE_ORM_LOG_SQL=true

