<mat-nav-list (click)="onSidenavClose()">
    <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Startseite</span>
    </a>

    <a *ngIf="authFacade.userIsLoggedIn$ | async" mat-list-item routerLink="/raetsel">
        <mat-icon>library_books</mat-icon>
        <span class="nav-caption">Rätsel</span>
    </a>

    <a *ngIf="authFacade.userIsAdmin$| async" mat-list-item routerLink="/raetselgruppen">
        <mat-icon>menu_book</mat-icon>
        <span class="nav-caption">Rätselgruppen</span>
    </a>

    <a *ngIf="authFacade.userIsLoggedOut$ | async" mat-list-item (click)="login()">
        <mat-icon>login</mat-icon>
        <span class="nav-caption">einloggen</span>
    </a>

    <a *ngIf="authFacade.userIsLoggedOut$ | async" mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="nav-caption">ausloggen</span>
    </a>
</mat-nav-list>

