<mat-nav-list (click)="onSidenavClose()">
    <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Startseite</span>
    </a>

    @if (authFacade.userIsLoggedIn$ | async) {
    <a mat-list-item routerLink="/raetsel">
        <mat-icon>library_books</mat-icon>
        <span class="nav-caption">Rätsel</span>
    </a>

    <a mat-list-item routerLink="/aufgabensammlungen">
        <mat-icon>menu_book</mat-icon>
        <span class="nav-caption">Aufgabensammlungen</span>
    </a>
    }

    @if (authFacade.userIsAdmin$| async) {
    <a mat-list-item routerLink="/medien">
        <mat-icon>newspaper</mat-icon>
        <span class="nav-caption">Medien</span>
    </a>
    }

    @if (authFacade.userIsLoggedOut$ | async) {
    <a mat-list-item (click)="login()">
        <mat-icon aria-hidden="false" aria-label="einloggen" fontIcon="login"></mat-icon>
        <span class="nav-caption">einloggen</span>
    </a>

    <a mat-list-item (click)="signup()">
        <mat-icon aria-hidden="false" aria-label="registrieren" fontIcon="perm_identity"></mat-icon>
        <span class="nav-caption">registrieren</span>
    </a>
    }



    @if (authFacade.userIsLoggedIn$ | async) {
    <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="nav-caption">ausloggen</span>
    </a>
    }

</mat-nav-list>