<mat-nav-list (click)="onSidenavClose()">
    <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Startseite</span>
    </a>

    <a *ngIf="authFacade.isAdmin$| async" mat-list-item routerLink="/quellen/uebersicht">
        <mat-icon>newspaper</mat-icon>
        <span class="nav-caption">Quellen</span>
    </a>

    <a *ngIf="authFacade.isAdmin$| async" mat-list-item routerLink="/raetsel/uebersicht">
        <mat-icon>library_books</mat-icon>
        <span class="nav-caption">Rätsel</span>
    </a>

    <a *ngIf="authFacade.isAdmin$| async" mat-list-item routerLink="/raetselgruppen/uebersicht">
        <mat-icon>menu_book</mat-icon>
        <span class="nav-caption">Rätselgruppen</span>
    </a>

    <a *ngIf="authFacade.isLoggedOut$ | async" mat-list-item (click)="login()">
        <mat-icon>login</mat-icon>
        <span class="nav-caption">einloggen</span>
    </a>

    <a *ngIf="authFacade.isLoggedIn$ | async" mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="nav-caption">ausloggen</span>
    </a>
</mat-nav-list>
